/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* GRID */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
ul.property-details {
  margin: 0px;
  padding: 0px;
}
ul.property-details li.property-details {
  list-style: none;
}
ul.property-details .property-title {
  background: #009688;
  color: #FFFFFF;
  font-size: 13px;
  padding: 8px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
ul.property-details .property-value {
  padding: 8px;
  border: 1px solid #009688;
  border-top: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
ul.property-details .cw-property-details-association {
  text-align: right;
  width: 100%;
}
ul.property-details .cw-edit-mode-association-search {
  width: 100%;
  margin: 3px 0 2px 0;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  height: 29px;
  box-sizing: border-box;
  font-size: 100%;
}
ul.property-details .cw-edit-mode-association-search::-ms-clear {
  display: none;
}
ul.property-details .gs-create-new-assocation {
  position: absolute;
  top: 7px;
  right: 7px;
  color: #76cf76;
  cursor: pointer;
  display: none;
  -webkit-transition: visibility 0s, width 0.5s, height 0.5s, top 0.5s, left 0.5s, bottom 0.5s, right 0.5s, opacity 0.5s, margin 0.5s, padding 0.5s, line-height 0.5s, font-size 0.5s, max-height 0.5s, background-color 0.5s;
  -moz-transition: visibility 0s, width 0.5s, height 0.5s, top 0.5s, left 0.5s, bottom 0.5s, right 0.5s, opacity 0.5s, margin 0.5s, padding 0.5s, line-height 0.5s, font-size 0.5s, max-height 0.5s, background-colo 0.5s;
  -ms-transition: visibility 0s, width 0.5s, height 0.5s, top 0.5s, left 0.5s, bottom 0.5s, right 0.5s, opacity 0.5s, margin 0.5s, padding 0.5s, line-height 0.5s, font-size 0.5s, max-height 0.5s, background-color 0.5s;
  -o-transition: visibility 0s, width 0.5s, height 0.5s, top 0.5s, left 0.5s, bottom 0.5s, right 0.5s, opacity 0.5s, margin 0.5s, padding 0.5s, line-height 0.5s, font-size 0.5s, max-height 0.5s, background-color 0.5s;
  transition: visibility 0s, width 0.5s, height 0.5s, top 0.5s, left 0.5s, bottom 0.5s, right 0.5s, opacity 0.5s, margin 0.5s, padding 0.5s, line-height 0.5s, font-size 0.5s, max-height 0.5s, background-color 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  /*.no-transition-visibility();*/
}
ul.property-details .gs-create-new-assocation i {
  font-size: 20px;
}
ul.property-details .cw-edit-mode-association-search-result {
  background: white;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  border: 1px solid #aaa;
  border-top: none;
  display: none;
  z-index: 1;
}
ul.property-details .cw-edit-mode-association-search-result .cw-edit-mode-association-search-results {
  list-style: none;
  background: white;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: none;
  overflow-y: scroll;
  max-height: 120px;
}
ul.property-details .cw-edit-mode-association-search-result .cw-edit-mode-association-search-results li {
  background: white;
  font-size: 100%;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  box-sizing: border-box;
  text-align: left;
  color: black;
}
ul.property-details .cw-edit-mode-association-search-result .cw-edit-mode-association-search-results li:hover {
  background: #78909c;
  color: white;
  cursor: pointer;
}
ul.property-details .cw-edit-mode-association-search-result .cw-edit-mode-association-search-results li.deactive-result {
  color: #aaa;
  cursor: no-drop;
}
ul.property-details .cw-edit-mode-association-search-result .cw-edit-mode-association-search-results li.deactive-result:hover {
  background: #aaa;
  color: white;
}
ul.property-details .cw-edit-mode-association-search-result .gs-search-associate-label {
  text-align: left;
  display: none;
  font-size: 100%;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  box-sizing: border-box;
}
ul.property-details .cw-edit-mode-association-search-result .loading-label {
  color: grey;
  font-size: 20px;
  background: white;
  text-align: center;
}
ul.property-details .cw-edit-mode-association-search-result .no-results,
ul.property-details .cw-edit-mode-association-search-result .empty-search-no-objects {
  background: #f4f4f4;
  color: black;
}
ul.property-details .cw-edit-mode-association-search-result .search-ofline {
  background: #e43945;
  color: white;
}
ul.property-details .chosen-container-active .chosen-choices {
  box-shadow: none;
}
ul.property-details .chosen-container {
  margin-top: 5px;
}
ul.property-details .chosen-container .chosen-results li.highlighted {
  background: none;
  background-color: #78909C;
  color: white;
}
ul.property-details .chosen-container li.active-result,
ul.property-details .chosen-container li.no-results {
  color: black;
}
ul.property-details .chosen-container .chosen-choices li.search-choice-focus {
  background: red;
}
div.cw-property-details-left {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  padding: 10px 0 9px 0;
}
div.cw-property-details-right {
  display: inline-block;
  width: 50%;
  text-align: right;
  vertical-align: top;
  position: relative;
}
div.property-box {
  background-color: white;
  max-width: 1210px;
  width: 100%;
}
div.property-box-asso {
  margin-bottom: 10px;
  border-radius: 2px;
}
